/* 回到顶部按钮样式 */
.box {
    position: fixed;
    right: 20px;
    bottom: 380px;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 20px;
    background-color: black;
    border-radius: 20%;
    overflow: hidden;
}

.box:hover:before {
    top: 50%;
}

.box:hover .box-in {
    visibility: hidden;
}

.box:before {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'TOP';
    width: 40px;
    color: white;
    font-weight: bold;
}

.box-in {
    visibility: visible;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 3px solid black;
    border-color: white transparent transparent white;
    transform: rotate(45deg);
}