body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
}

#messages {
    margin-bottom: 50px;
    width: 80%; /* 或者你想要的任何固定值 */
    margin: 0 auto; /* 这将使内容在页面居中显示 */
}

.message-container {

    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}
.message-container img {
    flex: 0 0 auto;
    margin-right: 10px;
}
.message-number {
    flex: 0 0 auto;
    margin-right: 10px;
}
.message {
    flex: 1 1 auto;
}

.message-number {
    width: 20px;
    height: 20px;
    background-color: #666;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 30%;
}

.message-container p {
    margin: 0;
}

.message-container .username {
    font-weight: bold;
}

.message-container .message {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.message-container .time {
    font-size: 0.8em;
    color: #999;
    margin-top: 10px;
}

.profile-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 15px;
}

button {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #999;
}